.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* height: 100vh; */
    padding: 20px;
  }
  
  .card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .status-tag {
    background-color: #eee;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .card-time {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
  }
  
  .primary-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .primary-button:hover {
    background-color: #0056b3;
  }